!!! 5
%html
  %head
    %title Litmus Status
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Podkova:400,700'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  .container
    %header.row
      .columns.twelve
        %h1 Litmus Status
    - if flash
      #flash.row
        - flash.each do |level, message|
          .flash.alert-box{class: level}
            = message
            %a.close{href: ""} &times;
    #main.row
      .columns{class: content_for?(:sidebar) ? 'eight' : 'twelve'}
        = yield
      - if content_for?(:sidebar)
        .columns.four
          = content_for(:sidebar)
